# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!python_scripts
!python_scripts/energy_control_simulering.py
!.storage
!.storage/lovelace
!README.md

# Ignore folders.

.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
.ssh
home-assistant.log*
id_rsa*
